body{
    background-color: #E7DFDD;
}

h1{
    font: small-caps bold 24px/1 sans-serif;
    color: #0E0B16;
}

li{
    color: red;
}

table{
    border-style: none;
    padding: 5px;
    border-color: #471756;
}

p{
    color: #A239CA;
    font: italic small-caps bold 16px/2 cursive;
}

.table1{
    text-align: center ;
    margin-left: 350px;
    
}

.table1img{
    margin-left: 20px;
}
